*, *::before, *::after {
    box-sizing: border-box; 
}

body {
    background-color: #004b84;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #edfcff;
}

#main {
    color: #edfcff;
    font-family: "Inter", sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    letter-spacing: 1.2px;
    padding: 20px;
    font-size: 18px;
}

#header-nav{
    border: 2px solid #cd5d8aa7;
    margin: 10px;
    top: 0;
    position: sticky;
    background-color: #004b84;
}

#header-list {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    font-size: 20px;
}

ul li {
    list-style: none;
}

#header-list li a {
    color:#d0a5b6;
    text-decoration: none;
}

#header-list li a:hover {
    color: #59b596;
}

h1 {
    color: #ed77a6;
    font-size: 40px;
    text-align: center;
    margin: 20px;
    padding: 10px;
    font-weight: 800;
    text-transform: uppercase;
    transform: translateY(-10px);
    transition: transform 3s ease;
}

h2 {
    color: #cd5d8a;
    font-size: 30px;
    margin: 20px 0 40px;
    text-align: center;
    font-weight: 700;
}

h2:hover {
    text-decoration: underline;
    color: #ed77a6;
}

#about{
    display: flex;
    margin: 5px 10px 20px;
    padding: 20px;
    justify-content: space-between;
    gap: 20px;
}

#abt1 {
    flex: 2;
}

#abt2 {
    flex: 1;
}

#profile-pic {
    width: 30vw;
    height: 60vh;
    object-fit: cover;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

strong {
    color: #ed77a6;
    font-weight: 700;
}

#experience {
    margin: 20px;
}
 
#exp-ul {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

#exp-ul li:nth-child(1) {
    font-size: 20px;
    color: #e5afc4;
    font-weight: 700;
    list-style: none;
}

.date {
    font-weight: 300;
}

#exp-ul li {
    list-style: circle;
    padding-bottom: 10px;
}

#skills-section {
    display: flex;
    flex-direction: column;
}

#skills-section li {
  list-style-type: circle;
  margin: 0px 15px;
  padding: 0px 0 10px;
}

#skills-section li:hover {
    color: aquamarine;
}

#connect ul {
    display: flex;
    gap: 10px;
}

#connect li a {
    color:#cd5d8a;
    text-decoration: none;
}

.icon {
    width: 30px;
    height: 30px;
    background-color: white;
}

#message-form {
    display: flex;
    flex-direction: column;
    padding: 20px 0 35px 0;
}

form[name ='leave_message'] {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 15px;
    font-size: 18px;
}

form[name ='leave_message'] input {
    width: 50vw;
    height: 60px;
    border-radius: 10px;
    padding: 0 0 0 20px;
}

form[name ='leave_message'] textarea {
    width: 60vw;
    height: 80px;
    border-radius: 10px;
    padding: 20px 0 0 20px;
}

button[type="submit"] {
    width: 130px;
    height: 50px;
    /* padding: 20px; */
    border-radius: 5px;
    font-size: 18px;
    /* margin: 0 auto; */
    background-color: cornflowerblue;
}

button:hover {
    background-color: #a3b1bc;
}

button:active {
    color: #59b596;
}

section:hover, footer:hover {
    border: 2px solid #59b596;
}