body {
    background-color: #004b84;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    color: #edfcff;
    font-family: "Inter", sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    letter-spacing: 1.2px;
}

#header-nav{
    border: 2px solid #cd5d8aa7;
    margin: 10px;
    top: 0;
    position: sticky;
    background-color: #004b84;
}

#header-list {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    font-size: 20px;
}

#header-list li a {
    color:#d0a5b6;
    text-decoration: none;
}

#header-list li a:hover {
    color: #59b596;
}

h1 {
    color: #ed77a6;
    font-size: 40px;
    text-align: center;
    margin: 20px;
    padding: 10px;
    font-weight: 800;
    text-transform: uppercase;
    transform: translateY(-10px);
    transition: transform 3s ease;
}

h2 {
    color: #cd5d8a;
    font-size: 30px;
    margin: 20px;
    text-align: center;
    font-weight: 700;
}

h2:hover {
    text-decoration: underline;
    color: #ed77a6;
}

#about{
    display: flex;
    margin: 20px;
    padding: 20px;
    justify-content: space-evenly;
}

#profile-pic {
    width: 30vw;
    height: 60vh;
    object-fit: fill;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

strong {
    color: #ed77a6;
    font-weight: 700;
}

#experience {
    margin: 20px;
}

ul li {
    list-style: none;
}

#exp-ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* width: 80%; */
    height: 40vh;
    margin-top: 40px;
    /* grid-template-rows: 100px 100px; */
    gap: 10px;
}

#exp-ul li {
    border: 2px solid #ed77a6;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
}

#connect ul {
    display: flex;
    gap: 10px;
}

#connect li a {
    color:#cd5d8a;
    text-decoration: none;
}

.icon {
    width: 30px;
    height: 30px;
    background-color: white;
}