body {
    background-color: #004b84;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    color: #edfcff;
    font-family: "Inter", sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    letter-spacing: 1.2px;
}

h1 {
    color: #ed77a6;
    font-size: 40px;
    text-align: center;
    margin: 20px;
    padding: 10px;
    font-weight: 800;
    text-transform: uppercase;
    transform: translateY(-10px);
    transition: transform 3s ease;
}

h2 {
    color: #cd5d8a;
    font-size: 30px;
    margin: 20px;
    text-align: center;
    font-weight: 700;
}

h2:hover {
    text-decoration: underline;
    color: #ed77a6;
}

#about{
    display: flex;
    margin: 20px;
    padding: 20px;
    justify-content: space-evenly;
}

#abt2 img {
    /* width: 500px; */
    height: 400px;
    margin-top: 20px;
    object-fit: contain;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

strong {
    color: #ed77a6;
    font-weight: 700;
}

#experience {
    display: grid;
}